/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
    background: #ffffff;
}
.main-header{
    box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.1);
}

.header {
    font-family: Madefor-Text,
        Madefor,
        "Helvetica Neue",
        Helvetica,
        Arial,
        メイリオ,
        Meiryo,
        "ヒラギノ角ゴ Pro W3",
        "Hiragino Kaku Gothic Pro W3",
        "Hiragino Kaku Gothic Pro",
        sans-se;
    font-size: 16px;
    line-height: 32px;
    color: black;
    
}
.paragraph{
    font-family: proxima-n-w01-reg,
        proxima-n-w05-reg,
        sans-serif;
        font-size: 20px;
        line-height: 32px;
}

.hr {
    border: 0;
    height: 0.1px; 
    background-color: black;
}
.footer {
    font-family: proxima-n-w01-reg,
        proxima-n-w05-reg,
        sans-serif;
    font-size: 10px;
    line-height: 30px;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.dropdown-menu {
    position: absolute;
    background-color: white;
    top: 60px;
    left: 0;
    animation: slideDown 0.3s ease;
   
}